:host {
    display: flex;
    flex-flow: column;
    width: 180px;
    height: 100%;
    background-color: #2A3042;
    transition: width 120ms;
    overflow: hidden;

    &.collapsed {
        width: 70px;
    }

    .app-info {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 60px;

        p.title {
            margin: 0;
            padding: 0;
            font-size: 20px;
            line-height: 30px;
            font-weight: 500;
            color: #fff;
        }
    }

    .navs {
        width: 100%;
        flex: 1;
        user-select: none;
        overflow-y: auto;
        overflow-x: hidden;

        border-right-width: 0 !important;

        &::-webkit-scrollbar {
            display: none;
        }

        .menus {
            width: 100%;
            border-right-width: 0 !important;

            .menu-link-title {
                color: #A6B0CF;
            }
        }
    }

    .hidden {
        display: none;
    }


}
