:host {
    display: flex;
    flex-flow: column;
    width: 100%;

    div.header {
        font-size: 16px;
        font-weight: 700;
        text-align: center;
        color: #5588ee;
        padding: 0 0 8px;
    }

    div.content {
        display: flex;

        div.citem {
            flex: 0 0 50%;

            div.chart-title {
                text-align: center;
            }

            div.chart-container {}
        }
    }


}