:host {
    display: block;
    width: 350px;
    background-color: #ffffff;
    list-style: none;
    min-width: 350px;
    animation-duration: 0.2s;
    animation-timing-function: linear;
    color: var(--mo-description-color);
    font-size: 14px;
    box-shadow: 0px 2px 12px rgba(171, 171, 171, 0.25);
    border-radius: 6px;

    .img {
        display: inline-block;
        margin-right: 6px;

        p {
            text-align: center;
            font-size: 16px;
            background: var(--mo-color-primary-lightest);
            border-radius: 100%;
            color: #ffffff;
        }

        img {
            width: 100%;
            border-radius: 100%;
        }
    }

    .menu-con,
    .selectDown {
        width: 100%;
        overflow: hidden;
        height: 430px;
        background-color: #ffffff;
    }

    .menuHeader {
        height: 40px;
        background: #f4f6fa;
        padding-left: 18px;
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: space-between;
        border-radius: 6px 6px 0 0;
        position: relative;

        div:first-child {
            display: flex;
            flex: 1;
            align-items: center;
            padding: 9px 0;
            height: 100%;
            overflow: hidden;
        }

        .picture:hover {
            .selectDown {
                z-index: 2 !important;
            }
        }

        p {
            height: 100%;
            margin-left: 6px;
            font-size: 14px;
            flex: 1;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }

        i.icon.tenant {
            font-size: 16px;
            color: var(--mo-description-color);
        }
    }
    .menu-con {
        border-radius: 0 0 6px 6px;
    }

    .menuContent {
        height: 384px;
        display: flex;
        flex-direction: column;

        .item {
            display: flex;
            align-items: center;
            padding: 20px 18px;

            .img {
                width: 40px;
                height: 40px;

                p {
                    line-height: 40px;
                }
            }

            .itemInfo {
                display: inline-block;
                flex: 1;
                overflow: hidden;
                p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }

            p:first-child {
                font-weight: 500;
                font-size: 14px;
                line-height: 21px;
                margin-bottom: 3px;

                span {
                    font-weight: normal;
                    font-size: 12px;
                    line-height: 18px;
                }
            }

            p > span {
                color: var(--mo-icon-color);
            }

            .item-num {
                padding-left: 6px;
            }
        }

        .menu-wrap {
            display: flex;
            flex-wrap: wrap;
            padding: 0 6px;
            overflow: overlay;

            .group {
                width: 50%;
                margin-top: 20px;

                h4 {
                    color: var(--mo-icon-color);
                    margin-bottom: 6px;
                    margin-left: 12px;
                }

                li {
                    padding: 8px 12px;

                    i {
                        font-size: 16px;
                    }
                }
            }
        }
    }

    .selectDown {
        padding: 12px;
        margin: 0;
        overflow: overlay;
        border-radius: 0 0 6px 6px;

        li {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .icon.checked {
                font-size: 14px;
                margin-right: 12px;
                opacity: 0;
                color: var(--mo-color-primary);
            }

            &.checkedTenant {
                P {
                    color: var(--mo-color-primary);
                }
                .icon.checked {
                    opacity: 1;
                }
            }

            &:hover {
                background: #f4f6fa;
                border-radius: 4px;
            }
        }

        div {
            width: 100%;
            padding: 0 11px;
            display: flex;
            align-items: center;
            overflow: hidden;
        }
    }

    .footer {
        border-top: 1px solid #e6e8ee;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logout {
            &:hover {
                color: var(--mo-color-primary);
                cursor: pointer;
                path {
                    fill: var(--mo-color-primary);
                }
            }
        }

        div {
            padding: 12px 18px;
            float: right;
            display: flex;
            align-items: center;

            svg {
                margin-right: 8px;
            }
        }
        .version {
            opacity: 0.8;
        }
    }

    li {
        display: flex;
        align-items: center;
        height: 36px;

        i {
            margin-right: 8px;
        }

        p {
            margin: 0;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 14px;
            flex: 1;
        }

        &:hover {
            cursor: pointer;
            background: #f4f6fa;
            border-radius: 4px;
        }

        &.system-menu {
            pointer-events: none;
            background: white;
        }
    }

    .btn {
        cursor: pointer;
        background-color: var(--mo-color-primary);
        width: 40px;
        height: 40px;
        border-radius: 0 6px 0 0;
        display: flex;
        user-select: none;
        .btn-switch {
            font-size: 16px;
            color: #fff;
            margin: auto;
        }
    }

    .mode-switch {
        display: flex;
        position: relative;
        font-size: 12px;
        color: var(--mo-text-color);
        border-radius: 6px;
        background: var(--mo-global-background);

        .mode-item {
            width: 40px;
            height: 22px;
            //border-radius: 6px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            pointer-events: auto;
            z-index: 1;
        }

        .active-bar {
            width: 40px;
            height: 100%;
            position: absolute;
            z-index: 0;
            border-radius: 6px;
            background: var(--mo-color-primary);
            transition: left 0.2s ease-in-out;
        }

        .active {
            color: white;
        }
    }
}
