<div nz-dropdown [nzDropdownMenu]="menu" nzPlacement="bottomRight" nzTrigger="click" [nzVisible]="showMenu" (nzVisibleChange)="onMenuVisibleChange($event)" class="profile-bar">

    <div class="img">
        <div *ngIf="!userAvatar" [ngStyle]="{'background-color':backgroundColor}">{{avatarSwitchName}}</div>
        <img [src]="userAvatar" alt="" *ngIf="userAvatar">
    </div>

    <div class="user-info">
        <span class="name">{{userInfo?.name}}</span>
    </div>

</div>

<nz-dropdown-menu #menu="nzDropdownMenu">
    <!-- <workstation-shared-layout-profile-panel #profilePanel [userInfo]="userInfo" [appVersion]="appInfo?.version" [departmentName]="departmentName" [avatarColor]="backgroundColor" (afterActionTrigger)="closeMenu()">
    </workstation-shared-layout-profile-panel> -->
</nz-dropdown-menu>